body {
  font-family: sans-serif;
  background: #1c1c1c;
  color: #fff;
  padding: 20px;
}
.container {
  max-width: 400px;
  margin: auto;
}
label {
  display: block;
  margin-top: 15px;
}
input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}
button {
  background-color: #2a9d8f;
  color: white;
  margin-top: 20px;
  cursor: pointer;
}
#status {
  margin-top: 15px;
  font-weight: bold;
}
.booking {
  background: #333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}
.booking button {
  background: #e76f51;
  margin-top: 10px;
}

.slot-button {
  display: inline-block;
  width: 100px; /* или 120px, как тебе удобнее */
  padding: 10px;
  margin: 5px;
  text-align: center;
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.slot-button:hover {
  background-color: #444;
}
